In [1]:
import pandas as pd
import pickle 
import numpy as np

In [7]:
df = pd.read_excel(r"C:\Users\easil\OneDrive\Desktop\CAR DETAILS FROM CAR DEKHO.xlsx")

In [3]:
model = pickle.load(open(r"C:\Users\easil\project_cardekho_model\LinearRegressionModel.pkl",'rb'))

In [18]:
#testing
model.predict(pd.DataFrame(columns=['name','year','km_driven','fuel','seller_type','transmission','owner'],data=np.array(['Renault KWID RXT',2016,40000,'Petrol','Individual','Manual','Firts Owner']).reshape(1,7)))

array([268461.17886433])

In [20]:
225000 - 268461.17886433

-43461.178864329995

In [13]:
model.predict(pd.DataFrame(columns=['name','year','km_driven','fuel','seller_type','transmission','owner'],data=np.array(['Hyundai i20 Magna 1.4 CRDi',2014,80000,'Diesel','Individual','Manual','Second Owner']).reshape(1,7)))

array([410005.11718693])

In [17]:
# actual price 409999
# our model 410005.11718693
410005.11718693- 409999

6.117186929972377

In [15]:
df.tail()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner